body {
    margin: 0;
    background-color: black;
}

* {
    box-sizing: border-box;
    text-align: center;
    color: white;
}

h1 {
    font-size: 20px;
}

p {
    font-size: 12px;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-top: 5px;
    padding: 5px;
}

.foto-div-flex {
    display: flex;
    flex-direction: column;
    /* A: width-i px ile verin */
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 3px white;
}

img {
    width: 100%;
    height: 275px;
    /* A: background verilibmi? */
}
