body {
    margin: 0;
}

@font-face {
    font-family: nunito;
    src: url(" NunitoSans-Regular.ttf ");
}

* {
    font-family: nunito;
}

.head {
    background-color: rgb(214, 71, 71);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    box-sizing: border-box;
    height: 90px;
    padding-top: 20px;
}

.links {
    display: flex;
    gap: 50px;
    margin-right: 50px;
}

a {
    color: white;
    font-style: italic;
    font-size: 20px;
}

h1 {
    margin-left: 10px;
    font-size: 50px;
}

.container {
    margin-top: 0;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgb(133, 8, 8);
    background-image: url("women.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-weight: lighter;
}

.bottom {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
/* A: a1 tagi varmi? */
/*var,siz bilmirsiz :))*/
.pb{
    color: rgb(222, 58, 58);
    font-style: italic;
}
h3{
    text-decoration:underline;
}
