/* A: 2 defe eyni selectora code vermisiniz! */
p {
   text-align: justify;
   font-size: 20px;
   color: purple;
   /* A: hardadi value? :) */
   width: 500px;
   height: 140px;
   background-color: bisque;

}

h1 {
   text-align: center;
   color: rgb(218, 125, 20);
   width: 300px;
   height: 400px;
   /* A: calis, path-lari dirnaqda ver. url("") */
   background-image: url("./rose1.jfif");
   background-color: aquamarine;
   background-repeat: no-repeat;
   background-position: center;
   /* A: 150px altindan qirmizi xett var, error :) */
   background-size: 130px;
}

img {
   width: 400px;
   height: 200px;
}