body {
    margin: 0;
    background: linear-gradient(100deg, #ff3b66, #6e0e0e);
}

* {
    box-sizing: border-box;
    font-family: nunito;
}

@font-face {
    font-family: nunito;
    src: url(" NunitoSans-Regular.ttf ");
}

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.form-flex {
    display: flex;
    width: 30%;
    height: 470px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 10px;
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: red;
    border-bottom: 1px solid rgb(211, 201, 201);
    font-weight: bolder;
    padding-bottom: 5px;
}

input {
    position: relative;
    width: 430px;
    height: 70px;
    font-size: 20px;
    border-color: rgb(223, 214, 214);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(219, 216, 216);
}

button {
    width: 430px;
    height: 70px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    background: linear-gradient(80deg, #ff3b66, #b31c1c);
    color: white;
    border: 1px solid red;
    margin-bottom: 15px;
    padding: 5px
}

input:hover {
    border-color: rgb(234, 85, 85);
}

.icon {
    position: absolute;
    color: grey;
    margin: 25px 0 0 -30px;
}