/* A: Aydan xanim taski cox gozel hell etmisiniz. Heqiqeten! Ona gore de men detala cox gedeceyem her xirda detail deyecem ki, daha da yaxsi oyrenesiniz :)
1. font sriftlerine diqqet edin (serif-dir sizde)
2. class adlarini menali verin. (div1 adi mende hec bir tesevvur yaratmir) Ingilisler demishken, it doesn't make any sense :)
3. kodlari seliqeye salaq, mes, bosluqlari silek


*/

body {
    margin: 250px 300px 300px;
}
.div1 {
    text-align: center;
    font-size: 10px;
    background-color: rgb(247, 244, 241);
    border: 1px solid orange;
    border-radius: 20px;
    box-sizing: border-box;
    width: 170px;
    height: 170px;
    padding: 20px 2px 2px 2px;
    float: left;
    margin: 20px
}
.i1 {
    color: white;
    width: 30px;
    height: 15px;
    background-color: orange;
    padding: 20px 5px 10px 5px;
    border-radius: 10px;

}

/* A: clear-a ehtiyac varmi? */
.div2 {
    clear: right;
    margin: 5px;
}

.i2 {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(190, 182, 182);
    padding: 5px;
}
