body {
    background-color: green;
}

div {
    text-align: center;
    width: 400px;
    height: 250px;
    background-color: aliceblue;
    ;
    margin: 200px 500px;
    padding: 10px 5px 5px 5px;
}